{% extends "base.html" %}

{% block title %}List Autos{% endblock %}

{% block content %}
<script type="text/javascript">

		$(document).ready(function(){
			console.log("Lista")
			$.ajax({
				url: "/auto/api_list/",
				method: "GET",
				success: function(data){	
					$.each(data, function(key, value){
						console.log(key, value.matricula)
					})
				},
				error: function(data){
					console.log("Error")
					console.log(data)
				}
			})
		});

</script>
<h5>Numero de autos: {{countAutos}}</h5>
	<table class="table">
		<th>Matricula</th>
		<th>Marca</th>
		<th>Año</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for auto in autos %}
			<tr>
				<td>{{ auto.matricula }}</td>
				<td>{{ auto.marca }}</td>
				<td>{{ auto.año }}</td>
				<td><a href="{% url 'detail' auto.id %}"> deatil </a></td>
				<td><a href="{% url 'update' auto.id %}">update</a></td>
				<td><a href="{% url 'delete' auto.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}