{% extends "base.html" %}

{% block title %}List Pelicula{% endblock %}

{% block content %}
<script type="text/javascript">

		$(document).ready(function(){
			console.log("Lista")
			$.ajax({
				url: "/pelicula/api_list/",
				method: "GET",
				success: function(data){	
					$.each(data, function(key, value){
						console.log(key, value.titulo)
					})
				},
				error: function(data){
					console.log("Error")
					console.log(data)
				}
			})
		});

</script>
<h5>Numero de peliculas: {{countPel}}</h5>
	<table class="table">
		<th>Titulo</th>
		<th>Año</th>
		<th>Genero</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for peliculas in peliculass %}
			<tr>
				<td>{{ peliculas.titulo }}</td>
				<td>{{ peliculas.año }}</td>
				<td>{{ peliculas.genero }}</td>
				<td><a href="{% url 'detail' peliculas.id %}"> deatil </a></td>
				<td><a href="{% url 'update' peliculas.id %}">update</a></td>
				<td><a href="{% url 'delete' peliculas.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}