{% extends "base.html" %}

{% block title %}List Libro{% endblock %}

{% block content %}

<script type="text/javascript">

		$(document).ready(function(){
			console.log("Lista")
			$.ajax({
				url: "/libro/api_list/",
				method: "GET",
				success: function(data){	
					$.each(data, function(key, value){
						console.log(key, value.titulo)
					})
				},
				error: function(data){
					console.log("Error")
					console.log(data)
				}
			})
		});

</script>
<h5>Numero de libros: {{countLib}}</h5>
	<table class="table">
		<th>Titulo</th>
		<th>Autor</th>
		<th>Año</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for libro in libros %}
			<tr>
				<td>{{ libro.titulo }}</td>
				<td>{{ libro.autor }}</td>
				<td>{{ libro.año }}</td>
				<td><a href="{% url 'detail' libro.id %}"> deatil </a></td>
				<td><a href="{% url 'update' libro.id %}">update</a></td>
				<td><a href="{% url 'delete' libro.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	

{% endblock %}