{% extends "base.html" %}

{% block title %}ListPokemons{% endblock %}

{% block content %}


	<table class="table">
		<th>Titulo</th>
		<th>Autor</th>
		<th>Año</th>
		<th> |</th>	
		<th>Actions</th>
		<th> |</th>	
		{% for libro in object_list %}
			<tr>
				<td>{{ libro.titulo }}</td>
				<td>{{ libro.autor }}</td>
				<td>{{ libro.año }}</td>
				<td><a href="{% url 'detail' libro.id %}"> deatil </a></td>
				<td><a href="{% url 'update' libro.id %}">update</a></td>
				<td><a href="{% url 'delete' libro.id %}">delete</a></td>
			</tr>
	{% endfor %}
	</table>
	


{% endblock %}